# Unit I: Climate Change Module

## Opening Tutorial: Examining CO2 trends in python

- Example from <http://climate.nasa.gov/vital-signs/carbon-dioxide/>
- Raw data from <https://gml.noaa.gov/webdata/ccgg/trends/co2/co2_mm_mlo.txt>

In [ ]:
import pandas as pd
import seaborn as sns

In [4]:
columns = ['year', 'month', 'decimal_date', 'average', 'smooth', 'std_days', 'uncertainty', 'empty']
df = pd.read_csv("https://gml.noaa.gov/webdata/ccgg/trends/co2/co2_mm_mlo.txt", sep="\s+", comment="#", names= columns)
df

     year  day  decimal_date  average  smooth  std_days  uncertainty  empty
0    1958    3     1958.2027   315.71  314.44        -1        -9.99  -0.99
1    1958    4     1958.2877   317.45  315.16        -1        -9.99  -0.99
2    1958    5     1958.3699   317.51  314.69        -1        -9.99  -0.99
3    1958    6     1958.4548   317.27  315.15        -1        -9.99  -0.99
4    1958    7     1958.5370   315.87  315.20        -1        -9.99  -0.99
..    ...  ...           ...      ...     ...       ...          ...    ...
792  2024    3     2024.2083   425.38  423.92        22         0.99   0.40
793  2024    4     2024.2917   426.57  424.03        24         0.98   0.38
794  2024    5     2024.3750   426.90  423.61        29         0.76   0.27
795  2024    6     2024.4583   426.91  424.44        20         0.65   0.28
796  2024    7     2024.5417   425.55  425.10        24         0.69   0.27

[797 rows x 8 columns]

In [ ]:
sns.lineplot(df, x="decimal_date", y="average")

Which months are the CO2 values at the maximum? Minimum?  Why is this?

What rolling average is used in computing the "trend" line?  How does the trend depend on the rolling average?

------------------------

:::{tip} Exercise 1

# Temperature Data

Each of the last years has consecutively set new records on global climate.  In this section we will analyze global mean temperature data.

Data from: <http://climate.nasa.gov/vital-signs/global-temperature>

## Question 1:

Describe the data set to the best of your ability given the documentation provided.  Describe what kind of column each data contains and what units it is measured in.  Then address our three key questions in understanding this data:

- How are the measurements made? What is the associated measurement uncertainty?
- What is the resolution of the data?
- Are their missing values? How should they be handled?

## Question 2:

Construct the necessary python code to import and prepare for manipulation the following data set: <http://climate.nasa.gov/system/internal_resources/details/original/647_Global_Temperature_Data_File.txt>

## Question 3:

Plot the trend in global mean temperatures over time.  Describe what you see in the plot and how you interpret the patterns you observe.

# Exercise II: Melting Ice Sheets?

- Data description: <http://climate.nasa.gov/vital-signs/land-ice/>
- Raw data file: <http://climate.nasa.gov/system/internal_resources/details/original/499_GRN_ANT_mass_changes.csv>

## Question 1:

- Describe the data set: what are the columns and units? Where do the numbers come from? 
- What is the uncertainty in measurment? Resolution of the data? Interpretation of missing values?

## Question 2:

Construct the necessary code to import this data set.

## Question 3:

Plot the data and describe the trends you observe.

# Exercise III: Rising Sea Levels?

- Data description: <http://climate.nasa.gov/vital-signs/sea-level/>
- Raw data file: <http://climate.nasa.gov/system/internal_resources/details/original/121_Global_Sea_Level_Data_File.txt>


## Question 1:

- Describe the data set: what are the columns and units? 
- Where do these data come from? 
- What is the uncertainty in measurment? Resolution of the data? Interpretation of missing values?

## Question 2:

Construct the necessary R code to import this data set as a tidy `Table` object.

## Question 3:

Plot the data and describe the trends you observe.

# Exercise IV: Arctic Sea Ice?

- <http://nsidc.org/data/G02135>
- <https://noaadata.apps.nsidc.org/NOAA/G02135/north/monthly/data/>

## Question 1:

- Describe the data set: what are the columns and units? 
- Where do these data come from? 
- What is the uncertainty in measurement? Resolution of the data? Interpretation of missing values?

## Question 2:

Construct the necessary code to import this data set

     year  mo      data-type   region  extent   area
0    1979   1        Goddard        N   15.41  12.41
1    1980   1        Goddard        N   14.86  11.94
2    1981   1        Goddard        N   14.91  11.91
3    1982   1        Goddard        N   15.18  12.19
4    1983   1        Goddard        N   14.94  12.01
..    ...  ..            ...      ...     ...    ...
544  2019  12        Goddard        N   11.90  10.52
545  2020  12        Goddard        N   11.73  10.16
546  2021  12        Goddard        N   12.15  10.74
547  2022  12        Goddard        N   11.89  10.27
548  2023  12        NRTSI-G        N   12.00  10.31

[549 rows x 6 columns]

## Question 3:

Plot the data and describe the trends you observe.

# Exercise V: Longer term trends in CO2 Records


The data we analyzed in the unit introduction included CO2 records dating back only as far as the measurements at the Manua Loa observatory.  To put these values into geological perspective requires looking back much farther than humans have been monitoring atmosopheric CO2 levels.  To do this, we need another approach.


[Ice core data](http://cdiac.ornl.gov/trends/co2/ice_core_co2.html):

Vostok Core, back to 400,000 yrs before present day 

- Description of data set: <http://cdiac.esd.ornl.gov/trends/co2/vostok.html>
- Data source: <http://cdiac.ornl.gov/ftp/trends/co2/vostok.icecore.co2>

## Questions / Tasks:

- Describe the data set: what are the columns and units? Where do the numbers come from? 
- What is the uncertainty in measurment? Resolution of the data? Interpretation of missing values?
- Read in and prepare data for analysis.
- Reverse the ordering to create a chronological record.  
- Plot data
- Consider various smoothing windowed averages of the data. 
- Join this series to Mauna Loa data
- Plot joined data
- Describe your conclusions